# Enable bzlmod
common --enable_bzlmod

# Windows stuff
startup --windows_enable_symlinks
build --enable_runfiles

# Set default Mayhem URL
# build --action_env=MAYHEM_URL=<URL>

# Spawn strategy (necessary for rules_mayhem)
build --spawn_strategy=standalone

# Force Clang for fuzzing utils
build:fuzzing_utils --action_env=CC=clang
build:fuzzing_utils --action_env=CXX=clang++

# Define the --config=asan-libfuzzer configuration.
build:asan-libfuzzer --action_env=CC=clang
build:asan-libfuzzer --action_env=CXX=clang++
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:libfuzzer
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_instrumentation=libfuzzer
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_sanitizer=asan

# Define the --config=libfuzzer configuration.
build:libfuzzer --action_env=CC=clang
build:libfuzzer --action_env=CXX=clang++
build:libfuzzer --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:libfuzzer
build:libfuzzer --@rules_fuzzing//fuzzing:cc_engine_instrumentation=libfuzzer

# Define the --config=uninstrumented configuration.
build:uninstrumented --action_env=CC=clang
build:uninstrumented --action_env=CXX=clang++
build:uninstrumented --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:replay
